/*google fontes*/
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


/*saira
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
*/

/*georama
  font-family: "Georama", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
  */

/*sitx-two
   font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

  

/* regra css */
/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*  */
    scrollbar-width: thin;/*  */
    scrollbar-color: red;/*  */
}






body {
    background-color: brown;
    color: whitesmoke;
}

a{
    color: black;
    text-decoration: none;

}

ul{
    list-style: none;
    
    
}




html[data-theme='dark'] .logo {
    filter: invert(1);
}
 
#header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100% ;
    padding: 10px 20px ;


}




.logo{
width: 200px ;/* largura */
height:auto;/* altura */
}   


.header-toggle{
     display:flex ;
     justify-content:flex-end ;
     min-width:30% ;

}

#toggletheme{
    color: whitesmoke;/* cor texto */
    font-size: 33px; /* tamanho da fonte: 16 pra 45 */
    cursor: pointer ;
    transition: all 0.6 ease-in-out ;


}

/*menu desktop*/

.menu{
    display:flex ;
    align-items: center ;
    gap:25px ;


}


.menu-item{
     width:100%;

}


.menu-link{
     display:flex ;
     text-transform: uppercase;

}

.menu-texto{
     font-size: 12px;
     text-transform: uppercase;
     font-family:uppercase ;

}

.header-nav{
    display: none;
}

.menu-mobile    .menu-link{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        padding:8px 16px ;
}


.menu-mobile{
    bottom: 10px;
    position: fixed;
    width: 100vw; /* VW = viewPort - Width*/
    justify-content: space-between;
    border-top: 1px solid #989898;
    z-index: 1;/*  */
}

.menu-link.active .icone-link, 
.menu-link.active .menu-texto,
.menu-link:hover .icone-link,
.menu-link:hover .menu-texto{
    color: red;
}

.menu-icone,
.menu-texto{
    color: burlywood;
    font-weight: 400;
}

.icone-link{
    font-size: 25px;
}




/* CSS responsivo */
/* telas apatir de 768 */

@media (min-width: 768px){
      .header-nav{
          display:flex;

    }
      .header-nav,
      .header-toggle{
        min-width: 30%;

      }
      
       .nav-mobile{
        display: none;
       }
    }

