/*google fontes*/
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
/* variantes de cores */
/* definir core tema DARK */
:root,
:root [data-theme= "dark"] {
    --bg:burlywood ;/*cor fundo*/
    --color:brown ;/* cor texto*/
    --hover: white;
    --cor-titulo: white;
    --sombra: brown ;

}

/*  definir cores tema LIGHT */
:root[data-theme="light"] {
    --bg: brown ;/*cor fundo*/
    --color: burlywood ;/* cor texto*/
    --hover: black;
    --cor-titulo: black;
    --sombra: burlywood ;
}

/*saira
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
*/

/*georama
  font-family: "Georama", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
  */

/*sitx-two
   font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

  

/* regra css */
/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*  */
    scrollbar-width: thin;/*  */
}






body {
    background-color: var(--bg);
    color: whitesmoke;
}

a{
    color: black;
    text-decoration: none;

}

ul{
    list-style: none;
    
    
}




html[data-theme='dark'] .logo {
    filter: invert(1);
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 40px;
    font-weight:100px ;
    font-family:Georama ;
    letter-spacing: 3px ;
}

h2{
    font-family: "Georama", serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
h3{
    font-family: "Georama", serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 300px ;
    text-align: center;
    text-transform: uppercase;
}
p , li , span {
    font-size: 18px;
}

p{
    text-align: justify;
    font-family: "inter",
    sans-serif;
}

strong{
    font-weight: 800;
    color: var(--cor-titulo);
}
 /*HEADER*/

#header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100% ;
    padding: 10px 20px ;


}



/* logo */

.logo{
width: 200px ;/* largura */
height:auto;/* altura */
}   


.header-toggle{
     display:flex ;
     justify-content:flex-end ;
     min-width:30% ;

}

#toggleTheme{
    color: whitesmoke;/* cor texto */
    font-size: 33px; /* tamanho da fonte: 16 pra 45 */
    cursor: pointer ;
    transition: all 0.9 ease-in-out ;


}

/*menu desktop*/

.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}




.menu-item{
     width:100%;

}


.menu-link{
     display:flex ;
     text-transform: uppercase;

}

.menu-texto{
     font-size: 12px;
     text-transform: uppercase;
     font-family:uppercase ;

}

.header-nav{
    display: none;
}

.menu-mobile .menu-link{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        padding:8px 16px ;
}


.menu-mobile{
    bottom: 10px;
    position: fixed;
    width: 100vw; /* VW = viewPort - Width*/
    justify-content: space-between;
    border-top: 1px solid #989898;
    z-index: 1;/*  */
    background-color: white ;
}

.menu-link.active .icone-link, 
.menu-link.active .menu-texto,
.menu-link:hover .icone-link,
.menu-link:hover .menu-texto{
    color: red;
}

.menu-icone,
.menu-texto{
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.icone-link{
    font-size: 25px;
}

/* fim do CSS*/

/* Home / main */

#home {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/9;

}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
    width: 100%;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 10px 2px 30px;
    cursor: pointer ;
}

.btn-primary{
    border: 8px solid white;
}

.btn-primary:hover {
    border: 1px solid var(--bg);
}


.btn span,
.btn i {
    color: white;
    font-size: 20px;
}
.btn:hover {
    transform: scale(1.05);
    transition: all ease-in-out 0.9s;
}

.btn:hover span,
.btn:hover i {
    color: var(--hover);
}

.icon-social {
    font-size: 35px;
    color: black;
}

.icon-social:hover{
    color: burlywood;
}

/* Estrutura*/
/*Projetos*/
.projetos{
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.projetos-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projetos-card{
    display: flex;
    flex-direction: column;
}

.card-img{
    width: 100%;
    pointer-events: none;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 10px 70px var(--sombra);
}

.card-description {
    font-family: "Georama", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;


}

.icon-list {
    color: red;
    font-size: 14px;
}

.card-item{
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Georama", sans-serif;
}



/* ATUALIZAÇOES FUTURAS*/
#home{
    padding: 40px 16px;
}
 
/* Sobre */

 .sobre {
     display: flex;
     flex-direction: column;
     gap: 24px;
 }
 
 .sobre-perfil {
     width: 100%;
     pointer-events: none;
     border-radius: 50%;
     border: 8px solid #cacaca;
 }
 
 .sobre-content1,
 .sobre-content2 {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 32px;
     margin-bottom: 80px;
 }

 .sobre-icones{
    display: flex;
    align-items: center;
    gap: 20px;
 }

 .sobre-skills i,
 .sobre-icones i {
    font-size: 20px;
    color: white;
 }

 .sobre-content1 .col1 ,
 .sobre-content2 .col2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 32px;
 }

 .sobre-content2 .col1 .row1 ,
 .sobre-content2 .col1 .row2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 



/* CSS responsivo */
/* telas apartir de 768 */

@media (min-width: 768px) {
    #header {
        background-color: var(--bg);
        position: fixed;
        border-bottom: 1px solid #989898;
        padding: 16px 96px;
    }
        
      .header-nav{
          display:flex;

      }
      .header-nav,
      .header-toggle{
        min-width: 30%;

      }
      
       .nav-mobile{
        display: none;
       }
       #home{ /* ATUALIZAÇÃO FUTURA */
        padding: 128px 96px 64px 96px ;
       }

       .main-content{
        display:flex;
        flex-direction: column;
        align-items: center;
       }

}

    /*fim do 768 */

@media (min-width:992px) {
    .projetos-card{
        flex-direction: row;
    }
}
.card-reverse.card-body{
    display: flex;
    justify-content: column;
    flex-direction: flex-end;
    text-align: right;
}
    
/* 1200px */

@media (min-width: 1200px) {
    #home {
        padding: 160px 96px 32px ;
   }
}

    h1 {
        font-size: 80px;
}

    h2 {
       font-size: 65px;
}

    p, span, li {
    font-size: 20px;
} 
/* fim do 1200px */ 


@media (min-width: 1400px) {
    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 70px;
    }
    .projetos {
        padding: 160px 240px 64px;
    }
} 

/* 0 até 992px */

@media (max-width:992px) {
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
    }

.card-img {
    width: 55%;
}

.sobre {
    gap:10px ;
}

.sobre-content1,
.sobre-content2 {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: flex-start;
    gap: 64px;
}

}